@charset "utf-8";

/* CSS Document */


/*cssreset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 100px;
}

body {
    font-family: Microsoft Yahei, Hiragino Sans GB, Arial, Helvetica, "微软雅黑", "宋体", sans-serif;
    font-size: 1.2rem;
    background-color: #efeff4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    color: #f9f9fa;
}

.body {
    height: 100%;
}

.viewport {
	height: 100%;
    overflow-x: hidden;

}

.bg {
    position: relative;
    background: url(../images/loginbg.png)no-repeat center;
    background-size: 100% 100%;
}

@media screen and (min-width: 1024px) {
    .viewport {
        max-width: 640px;
        max-height: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }
}

/*login start*/

.header {
    width: 13.2rem;
    margin: 0 auto;
}

.logo {
    margin-top: 3.4rem;
    width: 13.2rem;
}

.login_box {
    width: 90%;
    margin: 2.3rem auto;
    position: relative;
}

.login_box input {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #666;
    outline: none;
    font-size: 0.9rem;
    line-height: 2.5rem;
    text-indent: 1.9rem;
}

.username {
    background: url(../images/icon_ren.png)no-repeat;
    background-position: 0.4rem 0.7rem;
    background-size: 1rem 1rem;
}

.icon_ren {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0.9rem;
    height: 0.9rem;
    z-index: 33;
}

.password {
    background: url(../images/icon_password.png)no-repeat;
    background-position: 0.4rem 0.7rem;
    background-size: 1rem 1rem;
    margin-top: 1.2rem;
}

.login_btn {
    width: 100%;
    height: 2.3rem;
    line-height: 2.3rem;
    border: 2px solid #609df0;
    border-radius: 3px;
    text-align: center;
    color: #609df0;
    font-size: 0.9rem;
    display: block;
    margin-top: 2.1rem;
}

.login_btn:hover {
    background: #609df0;
    color: #fff;
}
.footer{
	width: 7.5rem;
	transform: translateX(-3.7rem);
	position: relative;
	top: 3rem;
	left: 50%;
	text-align: center;
	color: #808080;
}
.footer a{
	font-size: 0.9rem;
}
.footer a:nth-child(1){
	color: #4d4d4d;
}
.footer a:nth-child(2){
	color: #999999;
	text-decoration: underline;
}
/*login end*/

/**
 * index start
 */
.nav{
    height: 2.5rem;
    position: relative;
    color: #fff;
    text-align: center;
    background: #609df0;
    color: 0.9rem;
    line-height: 2.5rem;
}
.admin{
    position: absolute;
    top: 0;
    right: 0.4rem;
    color: #fff;
    display: block;
    height: 2.8rem;
    line-height: 2.5rem;

}
.admin span{
   width: 2rem;
   float: left;
   font-size: 0.5rem;
    overflow: hidden;

}
.admin i{
    font-size:16px;
    vertical-align: middle;
    padding-left: 0.3rem;
   margin-bottom: 0.3rem;
   display: inline-block;
}

.seilct_list{
    background: #fff;
    padding: 30px 0;
    margin-bottom: 0.6rem;

}
.seilct_list select{
    width:90%;
    height: 1.9rem;
    line-height: 1.9rem; 
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    font-size:0.8rem;
    color: #666;

}
.seilct_list select:nth-child(2){
    margin-top: 0.6rem;
}
.btn_info{
    padding: 0 0.6rem;
    background: #fff;
   
}
.h2{
    padding: 0.6rem;
    font-size: 0.9rem;
    color: #808080;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}
.btn_list{
    font-size: 0;
    box-sizing: border-box;
    padding-bottom: 0.6rem;
}
.btn_list a{
    background: #609df0;
    width: 7.3rem;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin:0.6rem 0.6rem 0 0.6rem;
    border-radius: 5px;
    font-size: 0.9rem;

}
.btn_list a:hover{
    background: #5990de;
}

.production .btn_list a{
    width: 16.4rem;
}
.capacity{
    background: #ff9900;
    width: 16.4rem;
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin:1.2rem 1.2rem 0 1.2rem;
    border-radius: 5px;
    font-size: 0.9rem;
}
.capacity:hover{
    background: #f29100;
}
/**
 * index end
 */